
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
a{
    display: inline-block;
    text-decoration: none;
}
p,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    margin: 0 auto;

}
.btn{
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}

/* Banner css */
.header{
    /* background-image: url('../images/banner.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FCEEF1;
    position: relative;
}
.banner-group{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    /* padding-top: 150px; */
}
.banner-left{
    width: 60%;
}
.banner-right{
    width: 40%;
}
.banner-content-wrap{
    /* width: 80%; */
}
.banner-title{
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: 90px;
   
}
.banner-text{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.banner-image{
    /* padding-top: 100px; */
}
.banner-image img{
    width: 100%;
    
    margin-bottom: -55px;

}
.btn-primary{
    background-color: #E55473;
    color: white;
}
main{
    margin-bottom: 100px;
}
/* Section header */
.instagram{
    padding: 100px 0;
}
.section-header{
    width: 45%;
    margin: 0 auto;
    margin-bottom: 25px;
}
.section-title,.section-text{
    text-align: center;
}
.section-title{
    margin-bottom: 10px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.section-text{
    width: 80%;
    margin: 0 auto;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.instagram-wrap{
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.instagram-item{
    width: 25%;
    text-align: center;

}
.white-text{
    color: white;
}
.subscrip-section{
    padding: 50px 0;
}
figure{
    margin: 0;
    padding: 0;
}
.instagram-img{
    width: 100%;
}
.newsleter-wrap{
    background-image: url('../images/newsleter-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 108px 0;
}
.subscript-form{
    width: 60%;
    margin: 0 auto;
    display: flex;
    gap: 15px;

}
.input-filed{
    width: 100%;
    padding: 15px 10px; 
    border: none;
    border-radius: 5px;

}
.input-filed:focus-visible{
    outline: none;
}
button.subscrip{
    padding: 2px 20px;
    border-radius: 5px;
    border: none;
    background-color: #E55473;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.hot-del-section{
    padding: 100px 0;
    background-color: #FEF6F8;
}
.hot-item-wrap{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.hot-del-content{
    text-align: center;
}

.hot-del-image,.hot-del-content{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hot-del-content{
    display: flex;
    flex-direction: column;
}
.hot-del-title,.hot-del-text{
    text-align: center;
}
.hot-del-title{
    margin-bottom: 15px;
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.hot-del-text{
    margin-bottom: 15px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.off{
    color: rgb(205, 11, 11);
}










footer{
    background-color: black;
    padding: 70px 0 30px 0;
}
.footer-content{
    width: 45%;
    margin: 0 auto;
}
.footer-text,.footer-title,.copyright-text{
    text-align: center;
}
.footer-title{
    margin-bottom: 15px;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-content .flowr{
    color: #E55473;

}
.footer-text{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.copyright-text{
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
